<h1>This here is where you log into your account, fella</h1>

<%= form_with url: sign_in_path do |form| %>
    <label>Username</label>
    <input type="text">
    <label>Password</label>
    <input type="password">
    <button submit>
<% end %>
