<h1>HELLO WELCOME TO TWERTY</h1>
<h3>you want twerts?</h3>

<% if session[:user_id].present? %>
	<%= User.find(session[:user_id]).username%>
<% end %>

<% if current_user.present? %>
	<%= "#{current_user.firstname} #{current_user.lastname}" %>
<% end %>

<% if session[:user_id].present? %>
	<div>
		<%= link_to "The cooler log out \"button\"", "/logout", method: :delete %>
	</div>
<% end %>
